<launch>
    <arg name="cloud_topic"         default="/LIVO/current_cloud" />
    
    <arg name="data_dir"            default="$(find init_relocalizer)/map_data/" />
    <arg name="global_map_file"     default="$(find fast_livo)/Log/PCD/all_raw_points.pcd" />
    
    <arg name="map_frame"           default="map" />
    <arg name="base_frame"          default="start" />
    <arg name="avg_count"           default="1" />
    <arg name="global_map_pub_freq" default="0.5" />

    <arg name="submap_radius"       default="10.0" />
    <arg name="icp_thresh"          default="1.0" />
    <arg name="icp_iters"           default="100" />
    <arg name="icp_score_thresh"    default="2" />

    <node pkg="init_relocalizer" type="re_loc" name="re_loc_node" output="screen">
        <param name="cloud_topic"         value="$(arg cloud_topic)"         type="string" />
        <param name="data_dir"            value="$(arg data_dir)"            type="string" />
        <param name="global_map_file"     value="$(arg global_map_file)"     type="string" />
        <param name="map_frame"           value="$(arg map_frame)"           type="string" />
        <param name="base_frame"          value="$(arg base_frame)"          type="string" />
        <param name="avg_count"           value="$(arg avg_count)"           type="int" />
        <param name="global_map_pub_freq" value="$(arg global_map_pub_freq)" type="double" />
        
        <param name="submap_radius"       value="$(arg submap_radius)"       type="double" />
        <param name="icp_thresh"          value="$(arg icp_thresh)"          type="double" />
        <param name="icp_iters"           value="$(arg icp_iters)"           type="int" />
        <param name="icp_score_thresh"    value="$(arg icp_score_thresh)"    type="double" />
    </node>

    <!-- <include file="$(find fast_livo)/launch/mapping_mid360.launch" /> -->

    <node pkg="tf" type="static_transform_publisher" name="StartCamerainitPublisher" args="0 0 0 0 -0.2618 0 /start /camera_init 100"/>

    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find init_relocalizer)/rviz/re_loc.rviz" />
    
    <param name="/use_sim_time" value="true" />
</launch>